<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p>
  <% if @task.completed %>
  ☑️ The task is completed
  <% else %>
  ◻️ This task is not completed
  <% end %>
</p>
<p><%= link_to "Back to list", tasks_path  %></p>
<p><%= link_to "Edit task", edit_task_path %></p>

